.Informacion, .entrada_texto{
    color: black !important;
    font-family: fantasy;        
}
table > tbody tr td{
  font-family: fantasy;    
}

#imagenita{
text-align: center;

}

.inline{
	display: inline;
}
