	.entrada_texto{
	    color: black !important;
	    font-family: fantasy;        
	}

	.texto_informativo{
	color:green !important;; 
	font-weight: bold;
	}

	#imagenita{
	text-align: center;

	}

	.btn {
	  color:green !important;; 
	  font-weight: bold;
	  font-size: 120%;
	  text-decoration: underline;
	}

	.btn_footer {
	  color:green !important;;
	  font-size: 120%; 
	  font-weight: bold;
	  text-decoration: underline;
	}